.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow : hidden;
}

.loginContainer{
  width: 400px;
  background-color : white;
  padding : 40px;
  border-radius : 10px;
}

.title{
  font-size: 18px;
  font-weight: bold;
  text-align : center;
  color : gray;
}